.sr-only {
  @include sr-only();
}

.clearfix {
  @include clearfix();
}

.skip-link{left:-9999rem;top:2.5rem;z-index:999999999;text-decoration:underline}
.skip-link:focus{display:block;left:6px;top:7px;font-size:14px;font-weight:600;text-decoration:none;line-height:normal;padding:15px 23px 14px;z-index:100000;right:auto}
.visually-hidden:not(:focus):not(:active), .form-allowed-tags:not(:focus):not(:active){position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);white-space:nowrap}


.generic-button {
  width: auto;
  padding: 15px;
  background-color: #f18834;
  color: #fff;
  border-radius: 7px;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
}